body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: #222;
  color: white;
  padding: 30px;
}

nav {
  background: #444;
  padding: 10px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

footer {
  background: #222;
  color: white;
  padding: 15px;
}
